/* styles.css */
.layout {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-container {
  text-align: center;
  margin: 40px auto;
}

.about-container h1 {
  font-size: 28px;
}

.about-container p {
  font-size: 16px;
  line-height: 1.6;
}
.map-container {
  margin-top: 40px;
}
  