.b-im{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAYiw_Zp9KUWiE3_6JwlokbTt-IpCfGoIrkg&usqp=CAU");
    background-size: cover;
}

.c-im{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMvuOiaSq0x7gQEyJzC3zFMb01TbWsrw7lvw&usqp=CAU");
    background-size: cover;
}

.d-im{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFjjthgmFKcZgfHl6P8BmIuTqgH85_PfaUltRbhRjwctH9_k-gLCP8MzPdAxW9aAwR06A&usqp=CAU");
    background-size: cover;
}